<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AxelNotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AxelNotes.Properties.Settings>
            <setting name="NotesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="HighlightMarker" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="TextHighlightColor" serializeAs="String">
                <value>255, 255, 128</value>
            </setting>
            <setting name="HeadingMarker" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="TextHeadingFont" serializeAs="String">
                <value>Lucida Console, 14.25pt, style=Bold</value>
            </setting>
            <setting name="TextNormalFont" serializeAs="String">
                <value>Lucida Console, 9.75pt</value>
            </setting>
            <setting name="ShowLineNr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheSizeKB" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="LineWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupVersions" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BackupEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutosaveOnLostFocus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutosaveTimerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutosaveTimerInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextNormalColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextHeadingColor" serializeAs="String">
                <value>0, 0, 192</value>
            </setting>
            <setting name="TextBackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TextCurrentLineColor" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowMultipleInstances" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotesListColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DeleteToRecycleBin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextTabSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="FloaterColor" serializeAs="String">
                <value>249, 247, 148</value>
            </setting>
            <setting name="FloaterPosition" serializeAs="String">
                <value>50, 850</value>
            </setting>
            <setting name="FloaterMinSize" serializeAs="String">
                <value>400, 24</value>
            </setting>
        </AxelNotes.Properties.Settings>
    </userSettings>
</configuration>